:root {
    --basic-green: #849D8F;
    --basic-white: #FFFFFF;
    --basic-black: #323232;
    --basic-orange:#D07058;
    --special: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
}

body {
    min-width: 1200px;
    padding: 0;
    margin: 0;
    font-family:'Roboto', sans-serif;
    font-size: 16px;
    color: var(--basic-white) ;
    background-color: var(--basic-green);
}


.main-nav {
  display: flex;
  width: 1146px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.logo {
  margin-left: 27px;
  margin-top: 11px;
  display: flex;
  flex-basis: 13%;
}

.menu {
  list-style-type: none;
  display: flex;
  flex-basis: 30%;
  padding-left: 24px;
  flex-grow: 1;
}

.menu a {
  margin-right: 32px;
  text-decoration-line: none;
  color: white;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.user-action{
  list-style-type: none;
  display: flex;
  flex-basis: 20%;
}

.user-action a{
  font-size: 14px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  margin-right: 10px;
  background-color: rgba(255,255,255,0.2);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 44px;
  padding-right: 16px;
  border-radius: 50px;
}
.user-action .loupe {
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;

}
.loupe .loupe-border{
 border-radius: 100%;
  padding-left: 16px;
}
.user-action .enter {
  background-image: url("../img/entrance.svg");
  background-repeat: no-repeat;
}

.user-action .basket{
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
}
.proposal-1 {
  display: flex;
  flex-wrap: wrap;
}
.button-1 {
  background-color: rgba(242,104,67);
  border-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 70px;
  color: white;
  font-size: 32px;
  font-weight: 700;
}

.menu .list{
  display: none;
}

.user {
  display: none;
}

.user-action .search {
  display: none;
}
.proposal-1 {
  display: flex;
  background-image: url("../img/proposal-1.png");
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:100vh;
  background-size: contain;
}
h1 {
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  padding-top: 350px;
  padding-left: 265px;
}

